<div class="container">
  <% if(selectedCountry.length == 0) { %>
  <div class="page-header">
    <h1>Countries</h1>
  </div>
  <table class="table table-hover selection-table">
    <% _.each(countryList, function(country) { %>
    <tr class="country-selector" country_id="<%= country.attributes.id %>">
      <td class="col-md-1 hidden-xs" style="vertical-align:middle; height:<%= imgCellHeight %>px;" id="img-cell">
        <img src="<%= country.attributes.icon %>" class="img-rounded img-responsive">
      </td>
      <td class="col-md-6 hidden-xs" style="text-align:center; vertical-align:middle;">
        <span class="h4"><%= country.attributes.name %></span>
      </td>
      <td class="col-md-5 hidden-xs" style="text-align:center; vertical-align:middle;">
        <span class="h5" style="font-weight:normal;"><%= country.attributes.representative %></span>
      </td>

      <td class="col-md-8 hidden-sm hidden-md hidden-lg" style="vertical-align:middle;">
        <span class="h4"><%= country.attributes.name %></span>
      </td>
      <td class="col-md-4 hidden-sm hidden-md hidden-lg" style="vertical-align:middle;">
        <span class="h5" style="font-weight:normal;"><%= country.attributes.representative %></span>
      </td>
    </tr>
    <% }); %>
  </table><br><br>
  <% } else { %>
  <div class="row">
    <div class="col-md-8" id="detail">
      <div class="row">
        <div class="col-md-8">
          <h1><%= selectedCountry.attributes.name %></h1><br>
          <table class="table">
            <tr>
              <td><strong>Category</strong></td><td><%= selectedCountry.attributes.category %></td>
            </tr>
            <tr>
              <td><strong>Headquarters</strong></td><td><%= selectedCountry.attributes.dateEstablished %></td>
            </tr>
            <tr>
              <td><strong>Representative</strong></td><td><%= selectedCountry.attributes.representative %></td>
            </tr>
          </table>
        </div>
        <div class="col-md-4">
          <img src="<%= selectedCountry.attributes.icon %>" style="margin-top:20px" class="img-rounded img-responsive">
        </div>
      </div>

      <div class="page-header" style="margin-top:0px">
        <h3>Ranking</h3>
      </div>
      <div class="row hidden-xs">
        <div class="col-md-2">
          <span class="h4"><%= ranking %></span>
        </div>
        <div class="col-md-8">
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%= percentage %>%;">
              <span class="sr-only">80% Complete</span>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <span class="h4"><%= score %> points</span>
        </div>
      </div>

      <div class="row hidden-sm hidden-md hidden-lg">
        <div class="col-md-12">
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%= percentage %>%;">
              <span class="sr-only">80% Complete</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row hidden-sm hidden-md hidden-lg">
        <div class="col-md-12">
          <span class="h4 pull-right"><%= score %> points</span>
          <span class="h4"><%= ranking %></span>
        </div>
      </div><br>
      
      <div class="page-header" style="margin-top:0px">
        <h3>Description</h3>
      </div>
      <p><%= selectedCountry.attributes.description %></p><br>

      <blockquote>
        <p><%= selectedCountry.attributes.quote %></p>
        <small><%= selectedCountry.attributes.quoteAuthor %></small>
      </blockquote>                

      <div class="page-header">
        <h3>Game Log</h3>
      </div>
      <% if (game_log.length == 0) { %>
      <div class="well" style="text-align:center;">
        <span>No games played.</span>
      </div>
      <% } else { %>
      <div class="panel-group" id="accordion">
        <% var count = 0 %>
        <% _.each(game_log, function(game) { %>
        <%   var standing = game.get_standing_by_country(selectedCountry.attributes.id); %>
        <%   var game_name = gameList.get_name_by_id(game.attributes.gameId); %>
        <%   var game_img = gameList.get_img_by_id(game.attributes.gameId); %>
        <%   count = count + 1; %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= count %>">
                <div class="row">
                  <div class="col-md-8">
                    <span class="pull-right hidden-sm hidden-md hidden-lg"><span class="glyphicon glyphicon-list" style="padding-right:20px"></span><%= standing.place %><span class="glyphicon glyphicon-certificate" style="padding-left:10px; padding-right:20px"></span><%= standing.points %></span>
                    <span><%= game_name %></span>
                  </div>
                  <div class="col-md-2 hidden-xs">
                    <span class="glyphicon glyphicon-tower" style="padding-right:25px"></span>
                    <span><%= standing.place %></span>
                  </div>
                  <div class="col-md-2 hidden-xs">
                    <span class="glyphicon glyphicon-certificate" style="padding-right:25px"></span>
                    <span><%= standing.points %></span>
                  </div>
                </div>
              </a>
            </h4>
          </div>
          <div id="collapse<%= count %>" class="panel-collapse collapse">
            <div class="panel-body">
              <div class="row hidden-xs">
                <div class="col-md-2">
                  <img src="<%= game_img %>" class="img-rounded img-responsive hidden-xs">
                </div>
                <div class="col-md-10">
                  <table class="table table-condensed" style="margin-bottom:0px">
                    <tr>
                      <th class="col-md-1">Place</th>
                      <th class="col-md-4">Country</th>
                      <th class="col-md-4">Representative</th>
                      <th class="col-md-3">Points</th>
                    </tr>
                    <% console.log('game',game); %>
                    <% var sorted_games = _.sortBy(game.attributes.countries, function(country) {return country.place;}); %>
                    <% console.log('game-sorted',sorted_games); %>
                    <% _.each(_.sortBy(game.attributes.countries, function(country) {return country.place;}), function(country) { %>
                    <tr>
                      <td><%= country.place %></td>
                      <td><%= country.country %></td>
                      <td><%= country.representative %></td>
                      <td><%= country.points %></td>
                    </tr>
                    <% }); %>
                  </table>
                </div>
              </div>
              <table class="table table-condensed hidden-sm hidden-md hidden-lg" style="margin-bottom:0px;">
                <tr>
                  <th class="col-md-2">Place</th>
                  <th class="col-md-7">Country</th>
                  <th class="col-md-3">Points</th>
                </tr>
                <% _.each(_.sortBy(game.attributes.countries, function(country) {return country.place;}), function(country) {  %>
                <tr>
                  <td><%= country.place %></td>
                  <td><%= country.country %></td>
                  <td><%= country.points %></td>
                </tr>
                <% }); %>
              </table>
            </div>
          </div>
        </div>
        <% }) %>
      </div>
    <% } %><br><br>
    </div>
    <div class="col-md-4">
      <div class="list-group">
        <% _.each(countryList, function(country) { %>
        <% if (country.attributes.id == selectedCountry.attributes.id) { %>
        <a href="#countries/<%= country.attributes.id %>" class="list-group-item active"><%= country.attributes.name %></a>
        <% } else { %>
        <a href="#countries/<%= country.attributes.id %>" class="list-group-item"><%= country.attributes.name %></a>
        <% } %>
        <% }); %>
      </div>
    </div>
  </div>
  <% } %>
</div>
