<div class="container">
  <% if(selectedCountry.length == 0) { %>
  <div class="page-header">
    <h1>Countries</h1>
  </div>
  <table class="table table-hover selection-table">
    <% _.each(countryList, function(country) { %>
    <tr class="country-selector" country_id="<%= country.attributes.id %>">
      <td class="col-md-1 hidden-xs" style="vertical-align:middle; height:<%= imgCellHeight %>px;" id="img-cell">
        <img src="<%= country.attributes.icon %>" class="img-rounded img-responsive">
      </td>
      <td class="col-md-6 hidden-xs" style="text-align:center; vertical-align:middle;">
        <span class="h4"><%= country.attributes.name %></span>
      </td>
      <td class="col-md-5 hidden-xs" style="text-align:center; vertical-align:middle;">
        <span class="h5" style="font-weight:normal;"><%= country.attributes.representative %></span>
      </td>

      <td class="col-md-8 hidden-sm hidden-md hidden-lg" style="vertical-align:middle;">
        <span class="h4"><%= country.attributes.name %></span>
      </td>
      <td class="col-md-4 hidden-sm hidden-md hidden-lg" style="vertical-align:middle;">
        <span class="h5" style="font-weight:normal;"><%= country.attributes.representative %></span>
      </td>
    </tr>
    <% }); %>
  </table>
  <% } else { %>
  <div class="row">
    <div class="col-md-8" id="detail">
      <div class="row">
        <div class="col-md-8">
          <h1><%= selectedCountry.attributes.name %></h1><br>
          <table class="table">
            <tr>
              <td><strong>Category</strong></td><td><%= selectedCountry.attributes.category %></td>
            </tr>
            <tr>
              <td><strong>Headquarters</strong></td><td><%= selectedCountry.attributes.dateEstablished %></td>
            </tr>
            <tr>
              <td><strong>Representative</strong></td><td><%= selectedCountry.attributes.representative %></td>
            </tr>
          </table>
        </div>
        <div class="col-md-4">
          <img src="<%= selectedCountry.attributes.icon %>" style="margin-top:20px" class="img-rounded img-responsive">
        </div>
      </div>

      <div class="page-header" style="margin-top:0px">
        <h3>Ranking</h3>
      </div>
      <div class="row">
        <div class="col-md-1">
          <span class="h4"><%= ranking %></span>
        </div>
        <div class="col-md-9">
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%= percentage %>%;">
              <span class="sr-only">80% Complete</span>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <span class="h4"><%= score %> points</span>
        </div>
      </div>

      <div class="page-header" style="margin-top:0px">
        <h3>Description</h3>
      </div>
      <p><%= selectedCountry.attributes.description %></p><br>

      <blockquote>
        <p><%= selectedCountry.attributes.quote %></p>
        <small><%= selectedCountry.attributes.quoteAuthor %></small>
      </blockquote>                

      <div class="page-header">
        <h3>Game Log</h3>
      </div>
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                <div class="row">
                  <div class="col-md-8">
                    <span>Small World</span>
                  </div>
                  <div class="col-md-2">
                    <span class="glyphicon glyphicon-tower" style="padding-right:25px"></span>
                    <span>1</span>
                  </div>
                  <div class="col-md-2">
                    <span class="glyphicon glyphicon-certificate" style="padding-right:25px"></span>
                    <span>12</span>
                  </div>
                </div>
              </a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse">
            <div class="panel-body">
              <div class="row">
                <div class="col-md-2">
                  <img src="static/img/small_world.jpg" class="img-rounded img-responsive">
                </div>
                <div class="col-md-10">
                  <table class="table table-condensed" style="margin-bottom:0px">
                    <tr>
                      <th class="col-md-1">Place</th>
                      <th class="col-md-4">Country</th>
                      <th class="col-md-4">Representative</th>
                      <th class="col-md-3">Points</th>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>Buy N Large</td>
                      <td>Alan You</td>
                      <td>12</td>
                    </tr>
                    <tr>
                      <td>2</td>
                      <td>Aperture Science</td>
                      <td>Derek Alfsen</td>
                      <td>9</td>
                    </tr>
                    <tr>
                      <td>3</td>
                      <td>Shinra Corporation</td>
                      <td>Shane Fry</td>
                      <td>6</td>
                    </tr>
                    <tr>
                      <td>4</td>
                      <td>Globex Corporation</td>
                      <td>Brad Garland</td>
                      <td>3</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                <div class="row">
                  <div class="col-md-8">
                    <span>Dominion</span>
                  </div>
                  <div class="col-md-2">
                    <span class="glyphicon glyphicon-tower" style="padding-right:25px"></span>
                    <span>1</span>
                  </div>
                  <div class="col-md-2">
                    <span class="glyphicon glyphicon-certificate" style="padding-right:25px"></span>
                    <span>9</span>
                  </div>
                </div>
              </a>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
              <div class="row">
                <div class="col-md-2">
                  <img src="static/img/dominion.jpg" class="img-rounded img-responsive">
                </div>
                <div class="col-md-10">
                  <table class="table table-condensed" style="margin-bottom:0px">
                    <tr>
                      <th class="col-md-1">Place</th>
                      <th class="col-md-4">Country</th>
                      <th class="col-md-4">Representative</th>
                      <th class="col-md-3">Points</th>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>Buy N Large</td>
                      <td>Alan You</td>
                      <td>12</td>
                    </tr>
                    <tr>
                      <td>2</td>
                      <td>Aperture Science</td>
                      <td>Derek Alfsen</td>
                      <td>9</td>
                    </tr>
                    <tr>
                      <td>3</td>
                      <td>Shinra Corporation</td>
                      <td>Shane Fry</td>
                      <td>6</td>
                    </tr>
                    <tr>
                      <td>4</td>
                      <td>Globex Corporation</td>
                      <td>Brad Garland</td>
                      <td>3</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                <div class="row">
                  <div class="col-md-8">
                    <span>Agricola</span>
                  </div>
                  <div class="col-md-2">
                    <span class="glyphicon glyphicon-tower" style="padding-right:25px"></span>
                    <span>1</span>
                  </div>
                  <div class="col-md-2">
                    <span class="glyphicon glyphicon-certificate" style="padding-right:25px"></span>
                    <span>24</span>
                  </div>
                </div>
              </a>
            </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body">
              <div class="row">
                <div class="col-md-2">
                  <img src="static/img/agricola.jpg" class="img-rounded img-responsive">
                </div>
                <div class="col-md-10">
                  <table class="table table-condensed" style="margin-bottom:0px">
                    <tr>
                      <th class="col-md-1">Place</th>
                      <th class="col-md-4">Country</th>
                      <th class="col-md-4">Representative</th>
                      <th class="col-md-3">Points</th>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>Buy N Large</td>
                      <td>Alan You</td>
                      <td>12</td>
                    </tr>
                    <tr>
                      <td>2</td>
                      <td>Aperture Science</td>
                      <td>Derek Alfsen</td>
                      <td>9</td>
                    </tr>
                    <tr>
                      <td>3</td>
                      <td>Shinra Corporation</td>
                      <td>Shane Fry</td>
                      <td>6</td>
                    </tr>
                    <tr>
                      <td>4</td>
                      <td>Globex Corporation</td>
                      <td>Brad Garland</td>
                      <td>3</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><br><br>
    </div>
    <div class="col-md-4">
      <div class="list-group">
        <% _.each(countryList, function(country) { %>
        <% if (country.attributes.id == selectedCountry.attributes.id) { %>
        <a href="#countries/<%= country.attributes.id %>" class="list-group-item active"><%= country.attributes.name %></a>
        <% } else { %>
        <a href="#countries/<%= country.attributes.id %>" class="list-group-item"><%= country.attributes.name %></a>
        <% } %>
        <% }); %>
      </div>
    </div>
  </div>
  <% } %>
</div>
