<div class="container">
  <% if(selectedGame.length == 0) { %>
  <div class="page-header">
    <h1>Games</h1>
  </div>
  <table class="table table-hover">
    <% _.each(gameList, function(game) { %>
    <tr class="game-selector" game_id="<%= game.attributes.id %>">
      <td class="col-md-1 hidden-xs" style="vertical-align:middle; height:<%= imgCellHeight %>px;" id="img-cell">
        <img src="<%= game.attributes.icon %>" class="img-rounded img-responsive">
      </td>
      <td class="col-md-4 hidden-xs" style="text-align:center; vertical-align:middle;">
        <span class="h4"><%= game.attributes.name %></span>
      </td>
      <td class="col-md-2 hidden-xs" style="text-align:center; vertical-align:middle;">
        <span class="h5" style="font-weight:normal;"><span class="glyphicon glyphicon-time" style="margin-right:10px;"></span><%= game.attributes.playingTime %></span>
      </td>
      <td class="col-md-2 hidden-xs" style="text-align:center; vertical-align:middle;">
        <span class="h5" style="font-weight:normal;"><span class="glyphicon glyphicon-user" style="margin-right:10px;"></span><%= game.attributes.min_players %>-<%= game.attributes.max_players %></span>
      </td>
      <td class="col-md-2 hidden-xs" style="text-align:center; vertical-align:middle;">
        <span class="h5" style="font-weight:normal;"><span class="glyphicon glyphicon-tasks" style="margin-right:10px;"></span><%= game.attributes.difficulty %></span>
      </td>
      <td class="col-md-1 hidden-xs" style="text-align:center; vertical-align:middle;">
        <span class="h5" style="font-weight:normal;"><span class="glyphicon glyphicon-certificate" style="margin-right:10px"></span><%= game.attributes.points %></span>
      </td>
      
      <td class="col-md-9 hidden-sm hidden-md hidden-lg" style="vertical-align:middle;">
        <span class="h4"><%= game.attributes.name %></span>
      </td>
      <td class="col-md-3 hidden-sm hidden-md hidden-lg" style="vertical-align:middle;">
        <span class="h5" style="font-weight:normal;"><span class="glyphicon glyphicon-user" style="margin-right:10px;"></span><%= game.attributes.min_players %>-<%= game.attributes.max_players %></span>
      </td>
      
    </tr>
    <% }); %>
  </table>
  <% } else { %>
  <div class="row">
    <div class="col-md-8" id="detail">
      <div class="row">
        <div class="col-md-8">
          <h1><%= selectedGame.attributes.name %></h1><br>
          <table class="table">
            <tr>
              <td><strong>Category</strong></td><td><%= selectedGame.attributes.category %></td>
            </tr>
            <tr>
              <td><strong>Players</strong></td><td><%= selectedGame.attributes.min_players %>-<%= selectedGame.attributes.max_players %></td>
            </tr>
            <tr>
              <td><strong>Playing Time</strong></td><td><%= selectedGame.attributes.playingTime %></td>
            </tr>
            <tr>
              <td><strong>Difficulty</strong></td><td><%= selectedGame.attributes.difficulty %></td>
            </tr>
            <tr>
              <td><strong>Points</strong></td><td><%= selectedGame.attributes.points %></td>
            </tr>
          </table>
        </div>
        <div class="col-md-4">
          <img src="<%= selectedGame.attributes.icon %>" style="margin-top:20px" class="img-rounded img-responsive">
        </div>
      </div>
      <div class="page-header" style="margin-top:0px">
        <h3>Description</h3>
      </div>
      <p><%= selectedGame.attributes.description %></p>
      <div class="page-header">
        <h3>Game Log</h3>
      </div>
      <% if (game_log.length == 0) { %>
      <div class="well" style="text-align:center;">
        <span>No games played.</span>
      </div>
      <% } else { %>
      <div class="panel-group" id="accordion">
        <% var count = 0 %>
        <% _.each(game_log, function(game) { %>
        <%   var game_name = gameCollection.get_name_by_id(game.id); %>
        <%   var game_img = gameCollection.get_img_by_id(game.id); %>
        <%   count = count + 1; %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= count %>">
                <div class="row">
                  <div class="col-md-12">
                    <span><%= game_name %></span>
                  </div>
                </div>
              </a>
            </h4>
          </div>
          <div id="collapse<%= count %>" class="panel-collapse collapse">
            <div class="panel-body">
              <div class="row hidden-xs">
                <div class="col-md-2">
                  <img src="<%= game_img %>" class="img-rounded img-responsive hidden-xs">
                </div>
                <div class="col-md-10">
                  <table class="table table-condensed" style="margin-bottom:0px">
                    <tr>
                      <th class="col-md-1">Place</th>
                      <th class="col-md-4">Country</th>
                      <th class="col-md-4">Representative</th>
                      <th class="col-md-3">Points</th>
                    </tr>
                    <% _.each(game.attributes.countries, function(country) { %>
                    <tr>
                      <td><%= country.place %></td>
                      <td><%= country.country %></td>
                      <td><%= country.representative %></td>
                      <td><%= country.points %></td>
                    </tr>
                    <% }); %>
                  </table>
                </div>
              </div>
              <table class="table table-condensed hidden-sm hidden-md hidden-lg" style="margin-bottom:0px;">
                <tr>
                  <th class="col-md-2">Place</th>
                  <th class="col-md-7">Country</th>
                  <th class="col-md-3">Points</th>
                </tr>
                <% _.each(game.attributes.countries, function(country) { %>
                <tr>
                  <td><%= country.place %></td>
                  <td><%= country.country %></td>
                  <td><%= country.points %></td>
                </tr>
                <% }); %>
              </table>
            </div>
          </div>
        </div>
        <% }) %>
      </div>
    <% } %><br><br>
    </div>
    <div class="col-md-4">
      <div class="list-group">
        <% _.each(gameList, function(game) { %>
        <%   if (game.attributes.id == selectedGame.attributes.id) { %>
        <a href="#games/<%= game.attributes.id %>" class="list-group-item active"><%= game.attributes.name %></a>
        <% } else { %>
        <a href="#games/<%= game.attributes.id %>" class="list-group-item"><%= game.attributes.name %></a>
        <% } %>
        <% }); %>
      </div>
    </div>
  </div>
  <% } %>
</div>
