<div class="row">
  <div class="col-md-8">
    <h1><%= name %></h1><br>
    <table class="table">
      <tr>
        <td><strong>Category</strong></td><td><%= category %></td>
      </tr>
      <tr>
        <td><strong>Players</strong></td><td><%= numPlayers %></td>
      </tr>
      <tr>
        <td><strong>Playing Time</strong></td><td><%= playingTime %></td>
      </tr>
      <tr>
        <td><strong>Difficulty</strong></td><td><%= difficulty %></td>
      </tr>
      <tr>
        <td><strong>Points</strong></td><td><%= points %></td>
      </tr>
    </table>
  </div>
  <div class="col-md-4">
    <img src="<%= icon %>" class="img-rounded img-responsive">
  </div>
</div>
<div class="page-header" style="margin-top:0px">
  <h3>Description</h3>
</div>
<p><%= description %></p>
