<div class="container">
  <div class="jumbotron">
    <h1>Welcome to the BGO!</h1>
    <p class="hidden-xs">To commemorate the first inaugural winter edition of the Board Game Olympics, we present a companion website for the BGO. On this site, you can read about available games and countries, check live scores, and submit match results.</p>
    <p><a class="btn btn-primary btn-lg" role="button" href="#match_submission" style="margin-top:10px">Submit a match</a></p>
  </div>
  <div class="row">
    <div class="col-md-4">
      <img src="static/img/games_icon.png" class="img-rounded img-responsive" style="width:50%; height:50%; display:block; margin-left:auto; margin-right:auto;">
      <h2 style="font-weight:normal; text-align:center; margin-top:0px;">Games</h2>
      <p style="text-align:center;">Need to know how many people can play a game or how many points it's worth? Click through to read about all the games in this year's Board Game Olympics.</p>
      <p style="text-align:center;"><a class="btn btn-default" href="#games" role="button">View games »</a></p>
    </div>
    <div class="col-md-4">
      <img src="static/img/countries_icon.png" class="img-rounded img-responsive" style="width:50%; height:50%; display:block; margin-left:auto; margin-right:auto;">
      <h2 style="font-weight:normal; text-align:center; margin-top:0px;">Countries</h2>
      <p style="text-align:center;">Every year brings a new batch of countries represented. Click through to read all about the countries in this year's Board Game Olympics.</p>
      <p style="text-align:center;"><a class="btn btn-default" href="#countries" role="button">View countries »</a></p>
    </div>
    <div class="col-md-4">
      <img src="static/img/scores_icon.png" class="img-rounded img-responsive" style="width:50%; height:50%; display:block; margin-left:auto; margin-right:auto;">
      <h2 style="font-weight:normal; text-align:center; margin-top:0px;">Scoreboard</h2>
      <p style="text-align:center;">Wondering how your country is doing in the standings right now? Click through to take a look at a live updating scoreboard and find out.</p>
      <p style="text-align:center;"><a class="btn btn-default" href="#scoreboard" role="button">View scoreboard »</a></p>
    </div><br>
  </div>
  <div class="page-header">
  </div>
  <footer>
    <br><br>
    <p class="pull-right"><a href="">Back to top</a></p>
    <p>© 2013 Bacon & Waffles, Inc.</p><br><br>
  </footer>
</div>
