<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="page-header">
        <h1>Rules</h1>
      </div>
      <div class="row">
        <div class="col-md-3">
          <p style="font-size:18px; font-weight:500; margin-top:10px;">Earning Points by Winning Games</p>
        </div>
        <div class="col-md-9">
          <p style="margin-top:12px;">The main objective of the Board Game Olympics is, of course, to win board games.  As such, each game will be assigned a point value awarded to the winner(s) upon completion of a game.</p>
          <p>Points may also be awarded for first and second runner up in a  game.  However, each game must have at least one loser. So in games with 3 persons/teams participating, only first runner up will be awarded points.  And in games with only two persons/teams participating, only the victor shall be awarded points.  Also in games with no ranking of non-winners, only the victor will earn points.  Finally, in team co-op games, points will be split evenly among the winners.</p>
          <p>At the conclusion of each game, participants will fill out a match submission form listing the participants and their finishing positions.  No points will be awarded to any participant if they do not fill out a form.</p>
          <p>Points shall be designated on the morning of the Olympics as games arrive.  Points will be assigned based on the suggested duration of a game and the game’s level of difficulty.  Point totals shall be posted publicly before the start of the Games.</p>
        </div>
      </div>
      <div class="page-header">
      </div>
        
      <div class="row">
        <div class="col-md-3">
          <p style="font-size:18px; font-weight:500; margin-top:10px;">Earning Points by Other Means</p>
        </div>
        <div class="col-md-9">
          <p style="margin-top:12px;"><span style="font-weight:600;">Costuming</span> - Wearing a patriotic costume at any BGO is highly recommended.  The theme this year is “Fictional Organizations”.  Participants should come dressed as a character from the cartoon land they represent.  Between 0 and 20 bonus points will be awarded to each participant based on their costume.  Factors taken into account will include creativity, effort, and how well the costume represents their land. Costumes shall be judged by the Awards Committee.</p>
          <p><span style="font-weight:600;">Being Social</span> - Each participant will be given an index card at the start of the Games.  Then, throughout the day, they should write down the names of every unique person they play a board game with.  Participants will be awarded 1 bonus point for each name on their card.</p>
          <p><span style="font-weight:600;">Trying New Things</span> - Each participant shall be awarded 5 bonus points for playing a game that they have never played before.  This is a one-time bonus.</p>
          <p><span style="font-weight:600;">Surviving Long Games</span> - Participants will earn 1 bonus point for each half hour they survive in a game beyond the first.  For example, lasting an hour into a game will earn the player a point. Lasting an hour and a half will earn them 2 points.  And so forth.</p>
        </div>
      </div>
      <div class="page-header">
      </div>
        
      <div class="row">
        <div class="col-md-3">
          <p style="font-size:18px; font-weight:500; margin-top:10px;">Point Deductions</p>
        </div>
        <div class="col-md-9">
          <p><strong>Sobriety as a Performance Enhancing Drug</strong> - The imbibing of alcohol is considered to be important to the Spirit of the Games.  As such, if participants in a game feel that one or more players in that game are taking advantage of their zeal, they may file a grievance with the PED committee.  The PED committee may then assign the sober person(s) a “handicap” of up to 75% (rounded down) of the available points in the game. The PED committee will take into account the fact that some participants may take the Spirit of the Games a bit too far, and will not issue a handicap just because a single player has had too much to drink.  There will be no penalty for such false accusations, however, because that player is already doing a good enough job of handicapping themselves.</p>
          <p><span style="font-weight:600;">No Quitting Allowed</span> - No points will be earned by a player who quits a game, including first-time or survival bonuses.  Additionally a 5 point penalty shall be applied.</p>
          <p><span style="font-weight:600;">Mix It Up a Little</span> - If a participant plays a game more than one time, point potential for subsequent playing is reduced by 50% (rounded down).</p>
        </div>
      </div>
      <div class="page-header">
      </div>
        
      <div class="row">
        <div class="col-md-3">
          <p style="font-size:18px; font-weight:500; margin-top:10px;">Scheduling</p>
        </div>
        <div class="col-md-9">
          <p style="margin-top:12px;">To allow players the opportunity mix up their playing partners, a rudimentary schedule shall be kept.  Any game with a play-time of longer than a half-hour must be scheduled with the Games’ “Herald”.  The Herald is responsible for notifying all participants of upcoming games.  The Herald will make every effort to schedule games so that players who are currently involved in other games will have the opportunity to finish up their current game.  If the Herald is involved in an intense game, they may appoint a deputy to fulfill their duty.</p>
          <p>The Games shall run from 10:00 AM until 11:00 PM.  There will be a dinner break between 6 and 7 PM, during which no new games may be started.  Also, care should be taken when scheduling game late in the evening to ensure that all games wrap up before midnight.  The awards ceremony shall start as soon as all the points have been tabulated.</p>
        </div>
      </div>
      <div class="page-header">
      </div>
        
      <div class="row">
        <div class="col-md-3">
          <p style="font-size:18px; font-weight:500; margin-top:10px;">Rules Challenges</p>
        </div>
        <div class="col-md-9">
          <p style="margin-top:12px;">If the player has an issue with any in-game ruling, they may appeal to the rules committee.  Any such appeals must be accompanied by $100 cash.  Challenges are not final, it is allowable to challenge a challenge.</p>
        </div>
      </div>
      <div class="page-header">
      </div><br>
    </div>
  </div>
</div>
