<!DOCTYPE html>
<html>
  <head>
    <title>Board Game Olympics</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  
  
  <body>
    <nav class="navbar navbar-default" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">Board Game Olympics</a>
      </div>
    
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="index-game.html">Games</a></li>
          <li><a href="index-country.html">Countries</a></li>
          <li><a href="index-scoreboard.html">Scoreboard</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Submit Result</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>
    
    <div id="main">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-8">
                <h1>Small World</h1><br>
                <table class="table">
                  <tr>
                    <td><strong>Category</strong></td><td>Civilization, Fantasy, Territory Building</td>
                  </tr>
                  <tr>
                    <td><strong>Players</strong></td><td>2-5</td>
                  </tr>
                  <tr>
                    <td><strong>Playing Time</strong></td><td>80 minutes</td>
                  </tr>
                  <tr>
                    <td><strong>Difficulty</strong></td><td>Medium</td>
                  </tr>
                  <tr>
                    <td><strong>Points</strong></td><td>12</td>
                  </tr>
                </table>
              </div>
              <div class="col-md-4">
                <img src="/static/img/small_world.jpg" class="img-rounded img-responsive">
              </div>
            </div>
            <div class="page-header" style="margin-top:0px">
              <h3>Description</h3>
            </div>
            <p>In Small World, players vie for conquest and control of a world that is simply too small to accommodate them all.</p>
            <p>Designed by Philippe Keyaerts as a fantasy follow-up to his award-winning Vinci, Small World is inhabited by a zany cast of characters such as dwarves, wizards, amazons, giants, orcs, and even humans, who use their troops to occupy territory and conquer adjacent lands in order to push the other races off the face of the earth.</p>
            <p>Picking the right combination from the 14 different fantasy races and 20 unique special powers, players rush to expand their empires - often at the expense of weaker neighbors. Yet they must also know when to push their own over-extended civilization into decline and ride a new one to victory!</p>
            <p>On each turn, you either use the multiple tiles of your chosen race (type of creatures) to occupy adjacent (normally) territories - possibly defeating weaker enemy races along the way, or you give up on your race letting it go "into decline". A race in decline is designated by flipping the tiles over to their black-and-white side.</p>
            <p>At the end of your turn, you score one point (coin) for each territory your races occupy. You may have one active race and one race in decline on the board at the same time. Your occupation total can vary depend on the special abilities of your race and the territories they occupy. After the final round, the player with the most coins wins.</p>
          </div>
          <div class="col-md-4">
            <div class="list-group">
              <a href="#" class="list-group-item">Agricola</a>
              <a href="#" class="list-group-item">Dominion</a>
              <a href="#" class="list-group-item">Settlers of Catan</a>
              <a href="#" class="list-group-item active">Small World</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/static/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>